html {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

p {
    letter-spacing: 0.8px;
    line-height: 26px;
    
}
.image_cont {
    background-image: url("./image/uber\ pic1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    position: relative;
}
li {
    list-style-type: none;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
.body {
    margin: 0;
}
nav {
    display: flex;
    position: fixed;
    color: white;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: black;
    position: relative;
    padding-left: 50px;
    
    
}
nav .mother_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

nav .mother_nav .icon_nav .left_nav {
    display: flex;
    align-items: center; 
    margin-left: 0;
    
}
nav .mother_nav .right_nav {
    margin-left: 130px;
}
nav .mother_nav .right_nav button {
    font-size: 17px;
}
nav .mother_nav .icon_nav .right_nav {
    display: flex;
    align-items: center;
    font-size: 20px;
    
    
}
nav .mother_nav .icon_nav .left_nav button {
    
    font-size: 17px;
    border-radius: 50px;
    margin-right: 25px;
    padding: 10px 10px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;

}

nav .mother_nav .icon_nav .left_nav button:hover {
    background-color: rgb(75, 72, 72);
    border: none;
    transition:all 0.2s linear;
  
}
nav .mother_nav .right_nav .product button {
    margin-right: 25px;
    padding: 8px 10px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    
}
nav .mother_nav .right_nav .product button:hover {
    background-color: rgb(75, 72, 72);
    border: none;
    transition:all 0.2s linear;

}
nav .mother_nav .right_nav .signup {
    color: black;
    background-color: white;
    border: none;
    border-radius: 50px;
    /* height: 35px; */
    width: 100px;
    /* margin-top: 10px; */
    padding: 8px 10px;
    transition:all 0.3s linear;
    font-size: 17px;
    cursor: pointer;
    margin: auto;
    margin-left: 0;
    

}

nav .mother_nav .right_nav .signup:hover {
    background-color: rgb(219, 215, 215);
}

nav .mother_nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;   
}

@media (max-width:600px) {
    nav .mother_nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        display: none;
    }
    
}

nav img {
    height: auto;
    width: 70px;
}
@media (max-width:1024px) {
    nav .mother_nav ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        display: none;
    }
    nav .mother_nav .right_nav {
        margin-left: 1px;
    }
    

    
}

/* Drive or deliver section */
.first_page .driver {
    display: block;
    width: 40%;
    height: 70%;
    background-color: rgb(255, 254, 254);
    position: absolute;
    left: 140px;
    top: 110px;
}

.first_page .driver .top_items {
    display: flex;
    justify-content:space-between;
    padding-right: 50px;
    padding-left: 50px;
    height: 120px;
    background-color: rgb(253, 254, 255);
    border-bottom: 2px solid whitesmoke;
    
}

.first_page .driver .top_items .network, .first_page .driver .top_items .fork, .first_page .driver .top_items .car {
    list-style-type: none;
    text-align: center;
    margin-top: 35px;
} 

.first_page .driver .top_items .network p, .first_page .driver .top_items .fork p, .first_page .driver .top_items .car p {
    font-size: 14px;
    margin-top: 15px;
}

.first_page .driver .buttom_items {
padding-top: 30px;
padding-left: 50px;
padding-left: 50px;
padding-bottom: 0px;

}
.first_page .driver .buttom_items h1 {
    font-size: 50px;
    font-weight:lighter;
    margin-bottom: 35px;
}

.first_page .driver .buttom_items button {
    color: white;
    background-color: black;
    border: none;
    margin-top: 10px;
    padding: 15px 20px;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.first_page .driver .buttom_items p:last-child {
    text-underline-position: under;
    
}
@media (max-width:600px) {
    .first_page .driver {
        display: block;
        width: 62%;
        height: 70%;
        background-color: rgb(255, 254, 254);
        position: absolute;
        left: 76px;
        top: 110px;
    }
    .first_page .driver .top_items {
        display: flex;
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 25px;
        height: 120px;
        background-color: rgb(253, 254, 255);
        border-bottom: 2px solid whitesmoke;
    }
    .first_page .driver .buttom_items h1 {
        font-size: 30px;
        font-weight: lighter;
        margin-bottom: 17px;
    }
    .first_page .driver .buttom_items button {
        color: white;
        background-color: black;
        border: none;
        margin-top: 10px;
        padding: 15px 20px;
        font-size: 15px;
        margin-top: 19px;
        margin-bottom: 28px;
        cursor: pointer;
    }
    .first_page .driver .buttom_items {
        padding-top: 30px;
        padding-left: 50px;
        padding-left: 20px;
        padding-bottom: 0px;
    }
    
}
/* End of drive or deliver section */
 
/* second image begins */

.second_image {
    background-image: url("https://www.thehotelnewton.com/assets/images/attractions/nyc-golden.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    position: relative;
    padding-left: 140px;
    padding-top: 80px;
    

}
.second_image h1 {
    margin-bottom: 30px;
    font-size: 40px;
}
.second_image p {
    margin-bottom: 30px;
}
.second_image div button {
    color: white;
    background-color: black;
    border: none;
    margin-top: 10px;
    padding: 15px 20px;
    font-size: 15px; 
    cursor: pointer;  
}
@media (max-width:600px) {
    .second_image {
        background-image: url(https://www.thehotelnewton.com/assets/images/attractions/nyc-golden.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 40vh;
        position: relative;
        padding-left: 2px;
        text-align: center;
        padding-top: 80px;
    }
    
}
/* second image ends */

/* Grid images section begins */
.third_page {
    display: block;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-left: 70px;
    padding-right: 70px;
}

.third_page h1 {
    margin-left: 80px;
    margin-bottom: 50px;
    margin-top: 70px;
    font-size: 40px;
}
.third_page .image_grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    
}
.third_page .image_grid .left_img {
    display: block;
    margin-left: 70px;
}
.third_page .image_grid .right_img {
    display: block;
}
.third_page .image_grid .left_img img {
    width: 90%;
    margin-bottom: 10px;
    /* margin-left: 100px;
    margin-right: 5px; */
}

.third_page .image_grid .left_img h3, p, a {
    margin-bottom: 20px;
    cursor: pointer;
    
    
}
.third_page .image_grid .left_img a {
    text-underline-position: under;
    color: black;
} 
.third_page .image_grid .right_img a {
    text-underline-position: under;
    color: #000;

} 
.third_page .image_grid .right_img h3, p, a {
    margin-bottom: 20px;
    cursor: pointer;
}
.third_page .image_grid .right_img img {
    width: 90%;
    margin-bottom: 10px;
}

/* Grid images section ends */

/* About us section begins */
.third_page .header {
    padding: 20px 80px;
    margin-top: 130px;
}
.third_page .header .header_cont {
    display: flex;
    justify-content: space-between;

}
.third_page .header .header_cont .about_icons {
    text-align: start;

}
.third_page .header .header_cont .about_icons li {
    font-size: 20px;
    margin-bottom: 20px;
}
.third_page .header .header_cont .about_icons p:last-child {
    margin-top: 50px;
    text-decoration: underline;
    color: #000;
}
.third_page .header .header_cont .about_icons h3 {
    margin-bottom: 20px ;
}
@media (max-width:600px) {
    .third_page .header .header_cont {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .third_page {
        display: block;
        justify-content: center;
        width: 100%;
        height: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .third_page .image_grid .left_img {
        display: block;
        margin-left: 14px;
        /* padding: 2px; */
    }
    .third_page h1 {
        margin-left: 62px;
        margin-bottom: 50px;
        margin-top: 70px;
        font-size: 30px;
    }
    
}

/* About us section ends */

/* 4th page begins */
.last_page {
    width: 100%;
    height: 60vh;
    background-color: rgb(247, 247, 247);

}
.last_page .master_cont .top_box img {
    width: 150px;
    height: auto;
}
.last_page .master_cont .top_box {
    display: flex;
    justify-content: space-between;
}
.last_page .master_cont .top_box .left_4th {
    display: flex;
    
    /* padding: 50px 200px; */
    

}
.last_page .master_cont .top_box .left_4th {
    display: flex;
    justify-content: space-between;
    padding: 30px 35px;
    margin-top: 3%;
    margin-left: 140px;
    background-color: white;
    text-align: center;
    border: 0.5px solid rgb(212, 212, 221);
    cursor: pointer;
    
}
.last_page .master_cont .top_box .left_4th ul {
    margin: auto;
    font-weight: bold;
    font-size: 24px;
    margin-left: 15px;
}
.last_page h1 {
    padding-top: 70px;
    padding-left: 140px;
    font-size: 40px;
}
.last_page .master_cont .top_box .right_4th {
    display: flex;
    justify-content: space-between;
    padding: 30px 35px;
    margin-top: 3%;
    margin-right: 140px; 
    background-color: white;
    text-align: center;
    border: 0.5px solid rgb(212, 212, 221);
    cursor: pointer;
}
.last_page .master_cont .top_box .right_4th ul {
    margin: auto;
    font-weight: bold;
    font-size: 24px;
    margin-left: 15px;
    
}
@media (max-width:600px) {
    .last_page .master_cont .top_box img {
        width: 50px;
        height: auto;
    }
    
    .last_page .master_cont .top_box .left_4th {
            display: flex;
            justify-content: space-between;
            padding: 9px 0px;
            margin-top: 3%;
            margin-left: 21px;
            background-color: white;
            text-align: center;
            border: 0.5px solid rgb(212, 212, 221);
            cursor: pointer;
        }
    
    .last_page .master_cont .top_box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .last_page .master_cont .top_box .right_4th {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        margin-top: 3%;
        margin-right: 1px;
        background-color: white;
        text-align: center;
        border: 0.5px solid rgb(212, 212, 221);
        cursor: pointer;
        /* flex-wrap: wrap; */
    }
    .last_page h1 {
        padding-top: 50px;
        padding-left: 2px;
        font-size: 28px;
        text-align: center;
        margin-bottom: 50px;
    }
}
@media (min-width:600px) {
    .last_page .master_cont .top_box {
        display: flex;
        justify-content: space-between;
        
        
    }
    
}
/* 4th page ends */

/* .last_page2 begins */
.last_page2 {
    width: 100%;
    height: 30vh;
    display: flex;
    padding: 0px 140px;
    justify-content: space-between;
}
.last_page2 .sign_a, .last_page2 .sign_b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 45%;
    font-size: 35px;  
    border-bottom: 1px solid black;
    height: 80%;
    text-align: start;
}

.last_page2 .sign_a h3, .last_page2 .sign_b h3 {
    cursor: pointer; 
}
.last_page2 .sign_a h3, .last_page2 .sign_b li {
    cursor: pointer;  
}
@media (max-width:600px) { 
    .last_page2 .sign_a, .last_page2 .sign_b {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 45%;
        /* font-size: 35px; */
        border-bottom: 1px solid black;
        height: 80%;
        text-align: start;
    }
    .last_page2 {
        width: 100%;
        height: 30vh;
        display: flex;
        padding: 0px 12px;
        justify-content: space-between;
    }
    .last_page2 .sign_a h3, .last_page2 .sign_b h3 {
        cursor: pointer;
        font-size: 30px;
    }
    
}
/* end of last_page2 */

/* footer style begins */

.footer {
    width: 100%;
    background-color: black;
    padding: 90px 140px;
    color: white;
}
.footer .first_footer img {
    height: auto;
    width: 75px;
}
.footer .first_footer div p{
    /* border-bottom: 1px solid white; */
    margin-top: 15px;
    width: 138px;
    padding-bottom: 60px;
    border: none;
}
.footer .first_footer div p:hover {
    border-bottom: 1.5px solid white;
    

}
.footer .middle_letter {
    display: flex;
    justify-content: space-between;
}
.footer .middle_letter h3 {
    margin-bottom: 20px;
}
.footer .middle_letter ul li {
    margin-bottom: 15px;
    transition: 0.1s linear;

}
.footer .middle_letter ul li:hover {
    color: rgb(75, 72, 72);
    cursor: pointer;

}
@media (max-width:600px) {
    .footer .middle_letter {
    display: block;
    /* justify-content: space-between; */
}
    
}
.footer .bottom_cont .upper_cont a {
    color: white;
    margin-right: 50px;

}
.footer .bottom_cont .upper_cont a:hover {
    color: rgb(160, 153, 153);
}

.footer .bottom_cont .footer_box {
    display: flex;
    margin-top: 20px;
}
.footer .bottom_cont .footer_box .upper_cont {
    display: flex;
    margin-top: 50px;
}
.footer .bottom_cont .footer_box .upper_cont ul button {
    background-color: black;
    color: white;
    border: none;
    margin-left: 50px;
    padding: 8px 10px;
    
}
.footer .bottom_cont .footer_box .upper_cont ul button:hover {
    background-color: rgb(75, 72, 72);
    cursor: pointer;
}
.footer .bottom_cont .footer_box .android_cont img {
    height: 150px;
    width: 150px;
    margin-right: 8px;
    cursor: pointer;
    
}
.footer .bottom_cont .footer_box .android_cont {
    margin-left: 250px;
}
.footer .bottom_cont .lower_cont {
    display: flex;
    justify-content: space-between;
}
.footer .bottom_cont .lower_cont .last_part {
    display: flex;
 
}
.footer .bottom_cont .lower_cont .last_part li {
    margin-right: 10px;
    font-size: 13px;
    color: rgb(160, 153, 153);
    cursor: pointer;
}
.footer .bottom_cont .lower_cont ul li {
    font-size: 13px;
    color: rgb(160, 153, 153);
    cursor: pointer;
}
@media (max-width:600px) {
    .footer {
        width: 100%;
        background-color: black;
        padding: 70px 54px;
        color: white;
    }
    .footer .bottom_cont .upper_cont a {
        color: white;
        margin-right: 17px;
    }
    .footer .bottom_cont .footer_box {
        display: block;
        margin-top: 20px;
    }
    .footer .bottom_cont .footer_box .android_cont img {
        height: 23px;
        width: 56px;
        margin-right: 8px;
        cursor: pointer;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .footer .bottom_cont .footer_box .android_cont {
        margin-left: 0;
    }
    
}
@media (max-width:900px) {
    .footer .bottom_cont .footer_box .android_cont {
        margin-left: 250px;
        display: none;
    }
    
}




/* footer style ends */